
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    ;
}
.parent{
    width: 1100px;
    margin: auto;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}
.parent div{
height: 500px;
display: grid;
place-items: center;
color: white;
}
.kode-zen{
    background-color: brown;
    
}
.responsive-web{
    background-color: blue;
}
.practice-code{
    background-color: antiquewhite;
}
.Eat-code{
    background-color: aqua;
}

@media only screen and (max-width: 688px) {
    .parent{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    }
    .kode-zen{
    background-color: rgb(218, 207, 207);
    
}
.responsive-web{
    background-color: rgb(170, 130, 19);
}
.practice-code{
    background-color: rgb(19, 116, 59);
}
.Eat-code{
    background-color: aqua;
}
}
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .parent{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    }
    .kode-zen{
    background-color: rgb(128, 105, 44);
    
}
.responsive-web{
    background-color: rgb(7, 7, 8);
}
.practice-code{
    background-color: rgb(66, 45, 17);
}
.Eat-code{
    background-color: rgb(91, 141, 141);
}
}
