@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
}

nav {
    display: flex;
    background-color: #1C2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;
    color: #fff;
}

.logo-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(236, 166, 166);
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 0 8px;

}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50%;
    color: bisque;
    padding: 12px 12px;
    transition: 0.5s;
    text-transform: uppercase;

}

nav ul li a:hover,
nav ul li a.active {
    background-color: brown;
}

#click {
    display: none;

}

.menu-btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;

}

/* Responsive start code here */

@media only screen and (max-Width: 940px) {

    .menu-btn {
        display: block;
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        text-align: center;
        background: #1C2833;
        height: 100vh;
        width: 100%;
        padding-top: 20px;
        transition: all 0.5s ease;
    }

    #click:checked~.menu-btn i::before {
        content: "\f00d";
    }

    #click:checked~ul {
        left: 0%;
    }

    nav ul li {
        margin: 40px 0;
    }

    nav ul li a:hover {
        font-size: 22px;
        color: #fff;
        background-color: cadetblue;
    }

    nav ul li a:hover,
    nav ul li a.active {
        background: none;
        color: rgb(218, 133, 133);
    }
}

/* header section code stat */

header {
    background-image: url("image/blog1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

/* first section of main tag code start  */
#first-section {
    background-color: #1C2833;
}

.service-titel {
    text-align: center;
    color: #fff;
    padding: 50px 0;
    font-size: 25px;
}

#service-parent {
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    grid-gap: 25px;
}

.first-child-div {
    background-color: #fff;
    text-align: center;
    color: black;
    padding: 30px 20px;
    border-radius: 5px;
    border: 1px solid green;
    box-shadow: 5px 5px 10px gray;

}

.first-child-div i {
    font-size: 40px;
}

.first-child-div h2 {
    margin: 10px 0;
    font-weight: bold;
}




/* second srction code start hear  */

#second-section {
    background-color: #154360;
}

.heading-text {
    text-align: center;
    color: bisque;
    font-size: 32px;
    padding: 30px 0px;
    letter-spacing: 0.2em;
}

#smart-id-parent {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.smart-text {
    color: #fff;
}

.smart-text h2 {
    margin: 20px 0;
    font-size: 30px;
}

.smart-text a {
    text-decoration: none;
    font-size: 22px;
    background-color: bisque;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 40px;

}

/* thard section css code start   */
#third-section {
    background-image: url(image/pexels-pixabay-326055.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0;
}

#about-parent {
    display: flex;
    gap: 50px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.about-vinila h4 {
    font-size: 20px;
    margin-bottom: 20px;

}

.about-vinila ul {
    margin: 20px 0
}

.about-vinila a {
    text-decoration: none;
    font-size: 18px;
    background-color: #0c1d2e;
    color: #fff;
    padding: 16px 12px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;

}

#single-box-parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.single-box1 {
    background-color: #fff;
    color: black;
    padding: 20px 12px;
    border-radius: 5px;
    text-align: center;
}

.single-box1 h4 {
    font-size: 18px;
    padding: 10px 0 10px 0;
}

/* fourth section start  */
#srction-head {
    background-color: #0c1d2e;
    padding: 100px 30px;
    color: #fff;
}

#section-parent {
    display: flex;
    gap: 40px;
    margin: 0 200px 0 200px;
}

.image-div img {
    width: 100%;
}

.single-text p {
    margin: 20px 0;
    line-height: 1.5;
    text-align: justify;
}

.single-text h3 {
    font-size: 25px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
    margin: 20px 0;

}

.single-text a {
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;

}

.down-icon {
    text-align: center;

}

.down-icon a {
    font-size: 40px;
    color: #293b4d;
    margin: 0 5px;
    border: 4px solid rgb(117, 95, 95);
}

.down-icon a:hover {
    background-color: rgb(223, 223, 144);

}


/* contact section from input code  */

#contacr-section {
    background-image: url(image/pexels-pixabay-45853.jpg);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

form {
    background-color: #2e357a;
    max-width: 50%;
    margin: 0 auto;
    padding: 50px 60px;
    border-radius: 10px;
}

form h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.1em;

}

form p {
    color: #fff;
    text-align: center;
    margin: 30px 0;
    letter-spacing: 0.1em;
}

.from-input {
    display: block;
    width: 100%;
    height: 40px;
    margin: 50px 0;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 3px solid #4497D3;
    font-size: 18px;
}

.from-input::placeholder {
    color: #4497D3;
    font-size: 18px;
    font-weight: bold;
}

.done-btn {
    display: block;
    margin: 0 auto;
    padding: 5px 40px;
    font-size: 20px;
    background: none;
    cursor: pointer;
    outline-style: ridge;
}

.done-btn:hover {
    background-color: #536492;
}






/* first section responsive code start  */

@media only screen and (max-Width: 688px) {

    #service-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        width: 100%;
    }

    #smart-id-parent {
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }

    .smart-image {
        width: 100%;
        margin-bottom: 40px;
    }

    /* thard section responsive code  */
    #about-parent {
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }

    #single-box-parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        margin-top: 30px;
    }

    /* forth section responsive code start */
    #section-parent {
        display: block;
        gap: 50px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .down-icon {
        text-align: left;
    }
    .down-icon {
        text-align: left;
    }
    .down-icon a {
        margin: 10px 5px
    }
    .single-text h3 {
        margin-top: 50px;
    }
    /* contact section code  */
    form{
        background-color: #2e357a;
        max-width: 90%;
        padding: 20px 30px;
    }
}



@media only screen and (min-Width: 689px) and (max-width: 1099px) {

    #service-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        width: 100%;
    }

    #smart-id-parent {
        margin-left: 70px;
        margin-right: 70px;
        display: block;
    }

    .smart-image {
        width: 100%;
        margin-bottom: 70px;
    }

    /* thard section responsive code  */
    #about-parent {
        display: block;
        margin-left: 70px;
        margin-right: 70px;
    }

    #single-box-parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        margin-top: 50px;
    }

    /* forth section start code  */
    #section-parent {
        display: flex;
        margin-left: 70px;
        margin-right: 70px;
    }

    .down-icon {
        text-align: center;
    }

    .down-icon a {
        margin: 10px 5px
    }

    .single-text h3 {
        margin-top: 50px;
    }
}